:root {
    --primary-color: #5D5C61;
    --background-color: #7395AE;
    --trois-color: #9fa5a4;
    --quatre-color: #B1A296;
    --cinq-color: #557A95;
}

html, body {
    min-height: 100vh;
}

.bt{
    background-color: var(--primary-color);
}

.title{
    display: flex;
    justify-content: center;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}

.userOnline{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
}

.listUserOnline{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 20px;
}

/* center */
.divCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divCreateRoom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    padding: 30px;
    border-radius: 5%;
}

.inputDesign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}


/*back*/
.viewSalleHeight{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.viewSalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    padding: 10px;
}

.listRoom{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.room{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 6%;
    width: 15em;
}